@charset "UTF-8";
/*
em HTML é id, em CSS é #
em HTML é class, em CSS é .
*/
body {
    background-color: rgb(173, 239, 173);
    font-family: Arial, Helvetica,  sans-serif;
}

h1 {
    color: #063b1e;

}
h1#principal {
    text-align: center;
    background-color: rgba(1, 111, 54, 0.441);
}
h2 {
    color: #11733d;
}
.basico {
    color: #11733d;
    font-weight: bolder;
}
.intermediario {
    color: #6e7311;
}
.avancado {
    color: #731111;
}
.destaque {
    background-color: rgba(255, 255, 0, 0.751);
}